<div class="max-w600 m-auto m-t30 subscribe-form">
  <form role="search" method="post">
    <div class="input-group">
      <input name="text" class="form-control" placeholder="Título" type="text"/>
    </div><br>

    <div class="input-group">
      <input name="text" class="form-control" placeholder="Autores" type="text"/>
    </div><br>

    <div class="input-group">
      <input name="text" class="form-control" placeholder="Professor Orientador" type="text"/>
    </div><br>

    <div class="input-group">
      <input name="text" class="form-control" placeholder="Apresentador 1" type="text"/>
      <input name="text" class="form-control" placeholder="Apresentador 2" type="text"/>
    </div><br>

    <input type="file" name="upload" accept="application/pdf,application/vnd.ms-excel" />

    <div class=""> <a href="#" class="site-button radius-xl full-width">Enviar!</a> </div>

  </form>
</div>
