<%= form_for [:backsystem, @event]  do |f| %>

  <div class="row">

    <div class="field col-md-3">
      <%= f.text_field :name, autofocus: true, class:"form-control", placeholder: "Nome" %>
    </div>
    <div class="actions">
      <div class="col-md-1">
        <%= f.submit "Criar", class:"btn btn-success" %>
      </div>
    </div><br><br>

<%end%>
    <div class="col-md-0">
      <%= button_to "Voltar", backsystem_events_path, method: :get, class: "btn btn-danger" %>
    </div>
  </div>
