<div class="content2">
  <div class="container">
    <div class="admintable">
      <div class="container">

        <br><div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h2 class="h2">Editar Evento</h2>
            </div>
          </div>
          <div class="dlab-separator bg-primary"></div>
        </div>

        <%= render partial: "backsystem/events/form", locals: { text_submit: "Salvar"} %>

      </div>
    </div>
  </div>
</div>
