<%= form_for [:backsystem, @secomp]  do |f| %>

  <div class="row">

    <div class="field col-md-3">
      <%= f.text_field :name, autofocus: true, class:"form-control", placeholder: "Nome" %>
    </div>
    <div class="actions">
      <%= f.submit "Criar", class:"btn btn-success" %>
    </div><br><br>

<%end%>
    <%= button_to "Voltar", backsystem_url, method: :get, class: "btn btn-danger" %>
  </div>
