
<h1>Olá, <%= @student.name %></h1>
<p>
  Sua inscrição na SECOMP 2019 foi realizada com sucesso!<br>
</p>
<p>
  A programação do evento está em nosso site, ou você pode baixar o flyer em: <%= @url %>.
</p>

